<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>File Scan is In Progress</title>
</head>
<body>
<h1>{{ productName }} ({{ release }}) : File scan is In Progress for {{ file }} !!</h1>
</body>
</html>
