<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>File Upload Failed</title>
</head>
<body>
<h1>{{ productName }} ({{ release }}) : File is failed for {{ file }}. Try again later.</h1>
</body>
</html>
